// COLORS
$orange: #FE4518;
$red: #DF2330;
$db-item-selected: #C1000D;
$blue-link: #1592E6;
$gray-color: #828282;
$background-color: #F5F5F5;

// SIZES
$sidebarWidth: 200px;
$cardWidth: 175px;
$cardWidthSm: 150px;
$cardWidthXs: 125px;
$cardHeight: 200px;

// Z-INDEX
$zindex-sidebar: 100;
$zindex-overlay: 99;
$zindex-nav: 97;
$zindex-content: 96;

